<p style="color: green"><%= notice %></p>

<div class="container-sm app-container">
  <% if @post.cover.attached? %>
    <div class="post--cover" style="background-image:url(<%= url_for(@post.cover) %>)"></div>
  <%end%>
  <h1 class="mt-2 fw-bold"><%= @post.title %></h1>
  <%= link_to "Regresar", posts_path %>
  <div class="mt-4 border-bottom pb-3"><%= @post.content %></div>

  <div class="mt-4">
    <p class="h3">Qué opinas del tema</p>
    <div class="my-3"><%= render @post.comments %></div>
    <%= render "comments/form" %>
  </div>
  
</div>

<% if current_user == @post.user  %>
  <div>
    <%= link_to "Edit this post", edit_post_path(@post) %> |
    

    <%= button_to "Destroy this post", @post, method: :delete %>
  </div>
<% end %>