<!DOCTYPE html>
<html>
  <head>
    <title>MiBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section class="layout">
      <header class="main-nav p-4">
        <nav class="nav">
          <%=link_to root_path, class:"nav-link" do%>
            <%=image_tag "logo.png", height:20 %>
          <%end%>
          <%=link_to "Inicio", root_path, class:"nav-link"%></li>
          <%=link_to "Artículos", posts_path, class:"nav-link" %>
          
          <% if user_signed_in? %>
            <%= link_to "Nuevo post", new_post_path, class:"nav-link" %>
            <%= link_to "Cerrar sesión", destroy_user_session_path, class:"nav-link", data: { "turbo-method": :delete  } %>
          <% else %>
            <%= link_to "Iniciar sesión", new_user_session_path, class:"nav-link" %>
          <% end %>
        </nav>
      </header>
      <main class=""><%= yield %></main>
      <%= render "footer" %>
    </section>
  </body>
</html>
