<!DOCTYPE html>
<html>
  <head>
    <title>MiBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section class="layout">
      <header class="main-nav p-4">
        <nav class="nav">
          <%=link_to root_path, class:"nav-link" do%>
            <%=image_tag "logo.png", height:20 %>
          <%end%>
          <%=link_to "Inicio", root_path, class:"nav-link"%></li>
          <%=link_to "Artículos", posts_path, class:"nav-link" %>
        </nav>
      </header>
      <main class=""><%= yield %></main>
      <footer class="bg-dark p-4 text-white">
        <p class="m-0">MiBlog &copy; <%= Time.now.year %></p>
      </footer>
    </section>
  </body>
</html>
