<!DOCTYPE html>
<html>
  <head>
    <title>MiBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section class="layout">
      <header class="main-nav">
        <nav>
          <%=link_to "Inicio", root_path%>
          <%=link_to "Artículos", posts_path %>
        </nav>
      </header>
      <main><%= yield %></main>
      <footer>
        <p>MiBlog &copy; <%= Time.now.year %></p>
      </footer>
    </section>
  </body>
</html>
